@import 'colors.scss';
@import 'mixins.scss';

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    @include user-select;
    &.using-mouse :focus:not(:disabled) { 
        outline: none;
    }
    :focus:not(:disabled) {
        outline-color: transparentize($focus, $amount: 0.5);
        outline-style: solid;
        outline-width: 2px;
    }
}

h1, h2, h3, p {
    @include user-select(text);
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.bg-darker {
    background-color: $main;
}

nav {
    box-shadow: 0px 2px 4px 1px #00000075;
    opacity: 1;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
    -webkit-transform-origin: top;
            transform-origin: top;
    .navbar-brands img {
        max-width: 15em;
        width: 100%;
    }
}

.nav-opacity {
    opacity: 0.9;
}

.fill-screen {
    box-shadow: inset 0 0 15px 1px black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: height;
    transition-property: height;
}

div[class*=img-waterandhill] {
    position: relative;
    background-image: url('../images/waterandhills_960h.jpg');
  /*  background-image: -webkit-image-set(
        url('../images/waterandhills_480h.jpg') 1x,
        url('../images/waterandhills_960h.jpg') 2x
    );
    background-image: image-set(
        url('../images/waterandhills_480h.jpg') 1x,
        url('../images/waterandhills_960h.jpg') 2x
    );
    @media screen and (min-height: 540px) {
        background-image: url('../images/waterandhills_540h.jpg');
        background-image: image-set(
            url('../images/waterandhills_540h.jpg') 1x,
            url('../images/waterandhills_1080h.jpg') 2x
        );
    }
    @media screen and (min-height: 600px) {
        background-image: url('../images/waterandhills_600h.jpg');
    }
    @media screen and (min-height: 720px) {
        background-image: url('../images/waterandhills_720h.jpg');
    }
    @media screen and (min-height: 768px) {
        background-image: url('../images/waterandhills_768h.jpg');
    }
    @media screen and (min-height: 800px) {
        background-image: url('../images/waterandhills_800h.jpg');
    }
    @media screen and (min-height: 960px) {
        background-image: url('../images/waterandhills_960h.jpg');
    }
    @media screen and (min-height: 1024px) {
        background-image: url('../images/waterandhills_1024h.jpg');
    }
    @media screen and (min-height: 1080px) {
        background-image: url('../images/waterandhills_1080h.jpg');
    }
    @media screen and (min-height: 1081px) {
        background-image: url('../images/waterandhills_1920.jpg');
    } */
    .title-image {
        position: absolute;
        padding: 1.25em;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .down-button {
        position: absolute;
        bottom: 2.5em;
        width: 100%;
        text-align: center;
        a {
            &.btn:focus {
                -webkit-box-shadow: none;
                        box-shadow: none;
            }
        }
        i {
            color: $arrow-bg;
        }
    }
} 

@media screen and (max-width: 25em) {
    .navbar > a {
        width: 70%;
    }
}

.parallax {
    background-attachment: fixed;

}

.text-banner {
    display: block;
    text-align: center;
    margin: 2.5em 1.25em;
    h1 {
        font-size: 2.75em;
        padding-bottom: 0.2em;
    }
    p {
        font-size: 1.125em;
    }
}

.fixed-attachment {
    background-attachment: fixed;
}

.multiple-columns {
    p {
        -webkit-column-count: 3;
                column-count: 3;
        -webkit-column-width: 12em;
                column-width: 12em;
        -webkit-column-gap: 2em;
                column-gap: 2em;
    }
}

.carousel {
    margin: 2em -.9375em;
    .carousel-inner {
        box-shadow: 0px 0px 5px 2px #00000069;
        .carousel-item {
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            div {
                background-color: transparentize($color: $main, $amount: 0.3);
            }
        }
    }
}

.activity-section {
    margin: 3.125em;
    .activity-element {
        text-align: center;
        img {
            box-shadow: 0px 0px 5px 2px #00000069;
            width: 9.375em;
            height: 9.375em;
        }
    }
}

.contact-us {
    display: block;
    margin: 3.125em;
    text-align: center;
}

footer {
    box-shadow: 0px -1px 5px 1px #00000085;
    background-color: $main;
    color: lighten($color: $main, $amount: 70%);
    padding: 1.25em;
    text-align: center;
    p {
        margin: 1em 0;
        font-size: 0.9em;
    }
}

.img-sun {
    background-image: url('../images/suntrees_960h.jpg');
    /*   background-image: -webkit-image-set(
        url('../images/suntrees_480h.jpg') 1x,
        url('../images/suntrees_960h.jpg') 2x
    );
    background-image: image-set(
        url('../images/suntrees_480h.jpg') 1x,
        url('../images/suntrees_960h.jpg') 2x
    );
    @media screen and (min-height: 540px) {
        background-image: url('../images/suntrees_540h.jpg');
        background-image: -webkit-image-set(
            url('../images/suntrees_540h.jpg') 1x,
            url('../images/suntrees_1080h.jpg') 2x
        );
        background-image: image-set(
            url('../images/suntrees_540h.jpg') 1x,
            url('../images/suntrees_1080h.jpg') 2x
        );
    }
    @media screen and (min-height: 600px) {
        background-image: url('../images/suntrees_600h.jpg');
    }
    @media screen and (min-height: 720px) {
        background-image: url('../images/suntrees_720h.jpg');
    }
    @media screen and (min-height: 768px) {
        background-image: url('../images/suntrees_768h.jpg');
    }
    @media screen and (min-height: 800px) {
        background-image: url('../images/suntrees_800h.jpg');
    }
    @media screen and (min-height: 960px) {
        background-image: url('../images/suntrees_960h.jpg');
    }
    @media screen and (min-height: 1024px) {
        background-image: url('../images/suntrees_1024h.jpg');
    }
    @media screen and (min-height: 1080px) {
        background-image: url('../images/suntrees_1080h.jpg');
    }*/
}

.img-trunksoftrees {
    background-image: url('../images/trunksoftrees_960h.jpg');
   /*  background-image: -webkit-image-set(
        url('../images/trunksoftrees_480h.jpg') 1x,
        url('../images/trunksoftrees_960h.jpg') 2x
    );
    background-image: image-set(
        url('../images/trunksoftrees_480h.jpg') 1x,
        url('../images/trunksoftrees_960h.jpg') 2x
    );
    @media screen and (min-height: 540px) {
        background-image: url('../images/trunksoftrees_540h.jpg');
        background-image: -webkit-image-set(
            url('../images/trunksoftrees_540h.jpg') 1x,
            url('../images/trunksoftrees_1080h.jpg') 2x
        );
        background-image: image-set(
            url('../images/trunksoftrees_540h.jpg') 1x,
            url('../images/trunksoftrees_1080h.jpg') 2x
        );
    }
    @media screen and (min-height: 600px) {
        background-image: url('../images/trunksoftrees_600h.jpg');
    }
    @media screen and (min-height: 720px) {
        background-image: url('../images/trunksoftrees_720h.jpg');
    }
    @media screen and (min-height: 768px) {
        background-image: url('../images/trunksoftrees_768h.jpg');
    }
    @media screen and (min-height: 800px) {
        background-image: url('../images/trunksoftrees_800h.jpg');
    }
    @media screen and (min-height: 960px) {
        background-image: url('../images/trunksoftrees_960h.jpg');
    }
    @media screen and (min-height: 1024px) {
        background-image: url('../images/trunksoftrees_1024h.jpg');
    }
    @media screen and (min-height: 1080px) {
        background-image: url('../images/trunksoftrees_1080h.jpg');
    } */
}
